@import url(https://fonts.googleapis.com/css?family=Dosis:700);


body {
  font-family: "Dosis", Helvetica, Arial, sans-serif; 
  background: #ecf0f1;
  color: #34495e;
  padding-top: 40px;
  text-shadow: white 1px 1px 1px;
}
:root{
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.slider-main{
   
    padding: 10px;
    margin-bottom: 30px;
    text-align: justify;
}
.slider-tit{
    color: rgb(0, 0, 0);
   
    text-align: center;
    margin: 5px;
}
.value {
    border-bottom: 4px dashed #bdc3c7;
    text-align: center;
    font-weight: bold;
    font-size: 5vw; /* Relative font size */
    width: 80%; /* Relative width */
    height: 100px;
    line-height: 60px;
    margin: 40px auto;
    letter-spacing: -.07em;
    text-shadow: white 2px 2px 2px;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 80%; /* Relative width */
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e74c3c;
    width: 3vw; /* Relative width */
    height: 3vw; /* Relative height */
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
}

  .card {
    border: none;
}
.slider-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.slider-value {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.font-thin {
    --font-variation-serif: 0!important;
    --font-variation-weight: 100;
}
.navbar{
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.collapse {
    display: none;
}
/* Add styles for highlighted class */
.highlighted {
    background-color: #ebf5b7; /* Change this to the desired highlight color */
    border-top-left-radius: 1em 2em;
    border-color: blue;
     
      
}
modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Form Styles */
.input-container {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="range"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#radio-options label {
    display: inline-block;
    margin-right: 15px;
}


.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#closeModalBtn {
    background-color: #ccc;
    margin-right: 10px;
}


.toast {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
}
